
*.vsidx
.vs/openGL_TeamProject/v17/.suo
*.db
*.ipch
*.json
.vs/openGL_TeamProject/v17/.wsuo
*.sqlite
*.lock
*.vcxproj
*.user
*.vcxproj
*.log
*.vcxproj
*.bin
*.tlog
*.ilk
*.txt
*.pdb
*.recipe
*.exe
*.idb
*.vcxproj
